<?xml version='1.0' encoding='utf-8'?>
    <name>Movie Compare</name>
    <description>
        Compare your favourite movies instantly
    </description>
    <author href="http://turtle-designs.com" email="info@turtle-designs.com">Turtle Designs</author>
    <icon src="www/icon.png" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <access origin="*://*.turtle-designs.com/*" subdomains="true" />
    <access origin="*://*.imdb.com/*" subdomains="true" />
    <access origin="*://*.omdbapi.com/*" subdomains="true" />
    <access origin="*://*.googleapis.com/*" subdomains="true" />
    <access origin="*://*.thecodeplayer.com/*" subdomains="true" />
    <access origin="*://*.media-imdb.com/*" subdomains="true" />
	<preference name="StatusBarOverlaysWebView" value="false" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
